<html lang="en">
  <head>
    <title>Fifa 22 Player's Search Engine</title>
      <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/greenfather-d3514.appspot.com/o/fifa_logo.png?alt=media&token=cc866cf2-0570-4eb0-ac18-f4e3dfa27b09">
      <style>
          body {
  background-image: url('https://images7.alphacoders.com/115/1157084.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; 
          }
    
</style>
  </head>
  <body>
      <center>
      <h1>Fifa 22 Player's Search Engine</h1>
      <form method="get" action="/search">
        <table border="1">
            <tr>
                <td>Name</td>
                <td><input name="player" /></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" name="search">Search</button></td>
            </tr>
          </table>
      </form>
          <br/>
          
          <form method="get" action="/search">
        <table border="1">
            <tr>
                <td>Age at least</td>
                <td><input name="age" /></td>
            </tr>
           <tr>
                <td>Overall at least</td>
                <td><input name="overall" /></td>
              <td> <button type="submit" name="search">Search</button></td>
            </tr>
            
           
          </table>
      </form>
      </center>
  </body>      
</html>